<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <header class="header-container">
      <h1><a href="/">ShopBetter</a></h1>
      <ul class="nav-links">
        <li>
          <a
            href="/"
            class="page-nav <%= currentPath === '/' ? 'active' : '' %>"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="page-nav <%= currentPath === '/contact' ? 'active' : '' %>"
            >Contact Us</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="page-nav <%= currentPath === '/about' ? 'active' : '' %>"
            >About Us</a
          >
        </li>
        <li>
          <% if (user) { %> <% if (user.isAdmin) { %>

          <a href="/admin">Admin Dashboard</a>
          <% } %> <% } %>
        </li>
      </ul>

      <ul class="nav-links">
        <li>
          <form class="search-input" action="/search" method="GET">
            <input
              type="text"
              name="query"
              class="search-input"
              placeholder="Search products..."
              required
            />
            <button class="search-btn" type="submit">
              <i class="fas fa-search icon"></i>
            </button>
          </form>
        </li>
        <li>
          <a href="/cart">
            <i class="far fa-heart" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="/cart"> <i class="fas fa-cart-shopping"></i></a>
        </li>
        <li class="user-dropdown">
          <i class="fas fa-user"></i>
          <% if (user) { %>
          <span class="username"><%= user.name %></span>
          <ul class="dropdown-menu">
            <li>
              <a href="/settings"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li>
              <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          </ul>
          <% } else { %>
          <a href="/login">Login</a> | <a href="/register">Register</a>
          <% } %>
        </li>
      </ul>
    </header>
    <main></main>
  </body>
</html>
